* {
    font-family: Open Sans;
    padding: 0;
    margin: 0;
}
body {
}
#nav {
}
#nav-top {
    padding: 0 8vw;
    border-bottom: 2px solid #5d5d5d;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#nav-top-logo {
    font-family: math;
    font-size: 2.5rem;
    font-weight: 900;
}
#nav-top-elements {
    height: 2.93rem;
    border-left: 2px solid #4b4b4b;
    display: flex;
    align-items: center;
}
.nav-top-element {
    color: black;
    font-size: 1.1rem;
    list-style: none;
    text-decoration: none;
    padding: 0.5rem;
}
#nav-bottom {
    padding: 0 8vw;
    border-bottom: 5px solid #343434;
    display: flex;
    justify-content: space-between;
}
#nav-bottom-elements {
    display: flex;
    align-items: center;
}
.nav-bottom-element {
    font-weight: bold;
    color: black;
    list-style: none;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 1rem 0.5rem;
}
.nav-bottom-element span {
    font-weight: 900;
    font-size: 1.2rem;
}
#nav-bottom-element-sub {
    border-left: 2px solid #343434;
}
#nav-bottom-elements-right {
    display: flex;
    align-items: center;
    border-left: 2px solid #343434;
}
#nav-bottom-elements-right a {
    font-weight: 400;
}
#article {
    margin: 4rem 8rem 4rem 8rem;
    display: flex;
}
#article-container {
    margin-left: 2rem;
}
#article-title {
    font-size: 3rem;
}
#article-img {
    height: 46rem;
}
#article-img-description {
    font-style: italic;
    font-size: 0.9rem;
    text-align: justify;
    color: #383838;
}
#article-title span {
    color: #ff1616;
}
#article-author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    margin: 1.5rem 3rem 1.5rem 0;
}

#article-author {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.2rem;
}
#article-author-img {
    height: 3.3rem;
    width: auto;
    border-radius: 2rem;
}
#article-author-name {
    padding: 0 1rem;
    font-size: 1.1rem;
    color: #ffb560;
}
#article-author-tag {
    font-size: 1.1rem;
    font-weight: 600;
    color: #979797;
}

.article-author-link-img {
    height: 2.4rem;
}
#twitter {
    height: 2.7rem;
}
.article-paragraph {
    font-size: 1.3rem;
    padding: 0 0 1rem 0;
}
.article-paragraph .red-text {
    color: red;
    font-weight: bold;
}
#video-description {
    font-size: 1.1rem;
    font-style: italic;
    padding-bottom: 1rem;
}
iframe {
    height: 20rem;
    width: 40rem;
    margin-bottom: 1rem;
}
.article-cite {
    font-style: italic;
    color: #a76868;
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

